
.header {
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    text-transform: uppercase;
}

ul {
position: absolute;
float: right;
top: 0;
left: 500px;
padding: 12px;
list-style: none;
display: flex;
gap: 9px;
}

a{
font-size: 13px;
padding: 10px;
font-weight: 600;
color: white;
display: block;
align-items: flex-end;
text-decoration: none;
}

a:hover {
color: rgb(98, 94, 81);
font-size: 13px;
transition: all 0,3s
}

nav{
position: fixed;
top: 0;
width:100%;
height: 50px;
background-color: #b99768;;
}



h2 {
position: absolute;
top: 0;
font-weight: 600;
padding: 12px;
left: 55px;
color: #FFFDFC;
}


h1 {
color: rgb(235, 239, 228);
position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: auto;
padding: 40px;
text-transform: uppercase;
font-size: 35px;
transform: translate(-50%, -50%);
letter-spacing: 3px;
line-height: 1.4;
}

.clearfix{
    padding-left: 5cm;
    padding-right: 5cm;
}

h3, h4{
    color: #b99768;
    font-size: 20px;
    text-align: center;
}

.text-subtitulo{
    color: #524431;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.cardConteiner{
    padding-left: 5cm;
    padding-right: 5cm;
    margin: 50px;
}

.card-programa{
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: #b99768
}

.text-bg-light{
    margin: 50px;
    width: 900px;
}

.card-horariossem{
font-size: 15px;
}

.card-horarios{
    font-size: 20px;
    text-align: center;
    color: #111111;
}

li{
    color: #111111;
    font-size: 15px;
}

.card-text2{
    font-size: 15px;
}

p{
    font-weight: 400;
    font-size: 15px;
    color: rgb(19, 19, 14)
}

.card-title2{
    font-size: 20px;
    color: #b99768;
}

.card-text3{
    font-size: 10px;
    color: #272626;
}

.card-footer{
    color: #111111;
    font-size: 10px;
}