@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

.header {
        width: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 110vh;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        text-transform: uppercase;
}

ul {
position: absolute;
float: right;
top: 0;
left: 500px;
padding: 12px;
list-style: none;
display: flex;
gap: 9px;
}

a{
font-size: 13px;
padding: 10px;
font-weight: 600;
color: white;
display: block;
align-items: flex-end;
text-decoration: none;
}

a:hover {
    color: rgb(98, 94, 81);
    font-size: 13px;
    transition: all 0,3s
}


h2 {
    position: absolute;
    top: 0;
    padding: 12px;
    left: 55px;
    color: #FFFDFC;
    }


h1 {
    color: rgb(235, 239, 228);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    padding: 40px;
    text-transform: uppercase;
    font-size: 35px;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    line-height: 1.4;
}

.conteinerReserva{
    color: rgb(9, 7, 7);
    box-sizing: content-box;
    border: solid #402b11 2px;
    border-radius: 30px;
    padding: 40px;
    background-color: rgb(144, 121, 110);
}


input {
	border: 2px solid rgb(215, 209, 209);
    border-radius: 5px;
    width: 4.6cm;
    height: 41px;
}

label{
    color: #FFFDFC;
}


.optionSelect{
    border: 2px solid rgb(215, 209, 209);
    border-radius: 4px;
    width: 4.6cm;
    height: 42px;
}

.textSelect{
    color: #FFFDFC;
}

button{
    width: 5cm;
    height: 50px;
}

h3{
    text-align: center;
    color: black;
}

.card-title{
    font-size: 23px;
    color: #b99768;
    font-family: cursive;
    text-align: center;
}

.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111111;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}

h3{
    font-size: 38px;
    color: #b99768;
}

h4{
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #b99768; 
}

.textHotel{
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 15px;
    background-color: #ccb595;
}

h6{
    color: #b99768;
    font-size: 20px;
    text-align: center;
}

p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(19, 19, 14)
}


